@import "tailwindcss";

:root {
  --color-primary: #6b88e9;
  --color-secondary: #f4f4f4;
  --color-background: #ffffff;
  --color-text: #111111;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text);
}
